.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding: 80px 8%;
  align-items: center;
}

.about img {
  border-radius: 40px;
}

.about h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.about button {
  margin-top: 20px;
  background: #f59e0b;
  color: white;
  padding: 14px 28px;
  border-radius: 30px;
  font-weight: 600;
}

@media (max-width: 900px) {
  .about {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
