.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  background: #ffffff;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 26px;
  font-weight: 800;
  color: #06b6a4;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links li {
  font-weight: 500;
  cursor: pointer;
}

.nav-btn {
  background: #f59e0b;
  color: #fff;
  padding: 12px 22px;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s ease;
}

.nav-btn:hover {
  background: #d97706;
}
