* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {
font-family: 'Inter', sans-serif;
background-color: #fff;
color: #1a1a1a;
}


img {
max-width: 100%;
display: block;
}


a {
text-decoration: none;
color: inherit;
}


button {
cursor: pointer;
border: none;
}